

<div 
    class="mb-3"
    *ngIf="cs.editorCorpus != null"
>
    <ul class="list-group">
        <li
            class=" d-flex justify-content-between align-items-center btn btn-outline-success"
            (click)="cs.openCreateDocumentDialog()"
        >
            Create a new Document
        </li>
        <li 
            class="list-group-item d-flex justify-content-between align-items-center list-group-item-click"
            [ngClass]="{'active': cs.selectedEditorState.value === 0}"
            (click)="cs.changeEditor(0, 0)"
        >
            <span>{{ cs.editorCorpus.author.username }}'s corpus</span>
        </li>
        <li
            class="list-group-item d-flex justify-content-between align-items-center list-group-item-click"
            *ngFor="let document of cs.editorCorpus.documents; index as i; trackBy: trackByFn"
            [ngClass]="{'active': cs.editingDocumentIndex === i && cs.selectedEditorState.value === 1}"
            (click)="cs.changeEditor(1, i)"
        >
            {{i + 1}} - {{ document.title.slice(0, 20) }}
        </li>
      </ul>
</div>


<!-- <div class="mb-3">
    <div class="card-body">
        <h5 class="card-title">Display settings</h5>
        <mat-radio-group
            [(ngModel)]="cs.selectedDisplayState.value"
            >
            <div *ngFor="let state of cs.displayStates">
                <mat-radio-button 
                    [value]="state.value"
                    (change)="cs.setDisplayState(state)">
                    {{state.name}}
                </mat-radio-button>
            </div>
        </mat-radio-group>
    </div>

    <div *ngIf="cs.selectedDisplayState.value != 1">
        <hr class="hr-primary">
        <div class="card-body">
            <h5 class="card-title">Editor view</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li 
                *ngFor="let state of cs.editorState; let i = index"
                class="list-group-item list-group-item-click"
                [ngClass]="{'active': state.value == cs.selectedEditorState.value}"
                (click)="cs.setEditorState(state)"
                >
                <mat-icon>{{state.icon}}</mat-icon>&nbsp;&nbsp;
                <span>{{state.name}}</span>
            </li>
        </ul>
    </div>

    <div *ngIf="cs.selectedDisplayState.value != 0">
        <hr class="hr-primary">
        <div class="card-body">
            <h5 class="card-title">Explorer view</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li 
                *ngFor="let state of cs.explorerState; let i = index"
                class="list-group-item list-group-item-click"
                [ngClass]="{'active': state.value == cs.selectedExplorerState.value}"
                (click)="cs.setExplorerState(state)"
                >
                <mat-icon>{{state.icon}}</mat-icon>&nbsp;&nbsp;
                <span>{{state.name}}</span>
            </li>
        </ul>
    </div>


    <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image" class="">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
</div> -->