.content-window{
    // height: calc(100% - 56px);
    //height: calc(100% + 1px);
    height: calc(100% - 70px);
}

.content-main{
    height: 100%;
    width: 100%;
    //flex: 1 1 calc(100% - 500px);
}

.add-button {
    height: 53.81px;
    border-radius: 0px;
}

.header-spacer {
    overflow: auto;
    position: fixed;
    top: 54px;
    height: calc(100% - 54px);
    width: 100%;
}

.collab-navbar {
    width: 250px;
    background-color: #32383E;
    // overflow: auto;
}

.main-content {
    background-color: #272B30;
    overflow: hidden;
    transition: overflow 0.3s;
}

.main-content:hover {
    overflow-y: auto;
}

.head-spacer {
    height: 54px;
}
