.dark-color {
    background-color: #1C1E22;
}

.description {
    color: #fff;
	border-collapse: collapse;
	background-color: #3A3F44;
    border-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
}

.description:focus {
    color: #fff;
	border-collapse: collapse;
	background-color: #3A3F44;
    border-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
}