<!-- <div class="container-fluid">
    <div class="mb-3"></div>
    <div class="row">
        <div class="col-sm-12"> -->
            <mat-tab-group 
              class="invisible-tabs"
              [(selectedIndex)]="cs.selectedExplorerState.value"
              (selectedIndexChange)="cs.selectedExplorerState.setValue($event)"
              animationDuration="0ms" 
              mat-align-tabs="center"
              >
      
              <!-- All corpus -->
              <mat-tab>
                <ng-template class="navbar-label" mat-tab-label>
                    <span matBadgeOverlap="false">Corpora</span>
                </ng-template>
                <ng-template matTabContent>
                  <app-content-explorer-overview></app-content-explorer-overview>
                </ng-template>
              </mat-tab>

              <!-- User's corpus -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>edit</mat-icon>&nbsp;&nbsp;
                    <span>Corpus</span>
                </ng-template>
                <ng-template matTabContent>
                  <app-content-explorer-corpus></app-content-explorer-corpus>
                 </ng-template>
              </mat-tab>

              <!-- User's document -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>edit</mat-icon>&nbsp;&nbsp;
                    <span>Document</span>
                </ng-template>
                <ng-template matTabContent>
                  <app-content-explorer-read></app-content-explorer-read>
                 </ng-template>
              </mat-tab>

              <!-- Recommended -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon>menu_book</mat-icon>&nbsp;&nbsp;
                  <span>Recommended</span>
                </ng-template>
                <ng-template matTabContent>
                    <app-content-explorer-recommended></app-content-explorer-recommended>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          <!-- </div>
    </div>
</div> -->
