
<!--Dashboard : -->
<br>
<div class="container">
    <div class="row">

        <!-- Search parameters-->
        <div class="col-md-4">

            <div class="dropdown-divider"></div>
            <p>Search:</p>

            <div class="list-group">

                <!-- User's content -->
                <div class="input-group slate-group">
                    <button type="button" class="btn btn-outline-success slate-top create-button" (click)="openModal()">Create new subject</button>
                    <!--
                    <button class="form-control list-group-item list-group-item-action slate-top-left">{{us.currentUser.username}}</button>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-success slate-top-right" (click)="openModal()">Create new subject</button>
                    </div>
                    -->
                </div>

                <!-- Search Bar-->
                <div class="input-group slate-group">
                    <input class="form-control slate-search-name slate-middle" placeholder="Find a subject..." type="text" [(ngModel)]="searchTitle">
                    <div class="input-group-append slate-search-button">
                        <button type="submit" class="btn btn-outline-info slate-search-button slate-middle" (click)="searchSubjects()"><mat-icon>search</mat-icon></button>
                    </div>
                </div>

                <!-- Sort By -->
                <mat-form-field  class="list-group-item list-group-item-action">
                    <mat-label>Sort by:</mat-label>
                    <mat-select [(ngModel)]="searchSort" (ngModelChange)="searchSubjects()">
                      <mat-option *ngFor="let sort of sortOptions" [value]="sort">
                        {{sort}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>


            <div class="dropdown-divider"></div>
            <!--
            <p>Contributors:</p>
            <div class="list-group">


                <div class="input-group slate-group">
                    <input class="form-control slate-search-name slate-top-left" placeholder="Find a contributor..." type="text"  [(ngModel)]="searchContributor">
                    <div class="input-group-append slate-search-button">
                        <button type="submit" class="btn btn-outline-info slate-search-button slate-top-right" (click)="getContributors()"><mat-icon>search</mat-icon></button>
                    </div>
                </div>

                <button class="list-group-item list-group-item-action" (click)="searchContributors('none')">Everyone</button>
                <button class="list-group-item list-group-item-action" (click)="searchContributors(us.currentUser.username)">{{us.currentUser.username}}</button>
                <button class="list-group-item list-group-item-action active" *ngFor="let contributor of contributors">{{contributor.username}}</button>
            </div>
            -->
        </div>

        <!-- All contents-->
        <div class="col-md-8">

            <h2>{{ss.subjects.length}} subject found</h2>
            <hr>
            <div *ngFor="let subject of ss.subjects; let num = index">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex w-100 justify-content-between">
                            <a><h4 class="card-title slate-title" (click)="viewSubject(subject)" [routerLink]="['content', subject.url]">{{subject.title}}</h4></a>
                        </div>
                        <table>
                            <tr>
                                <td><span>&nbsp;&nbsp;&nbsp;</span><span class="badge badge-pill slate-light">Created: {{subject.createdAt | timeAgo }}</span></td>
                                <td><span>&nbsp;&nbsp;&nbsp;</span><span class="badge badge-pill slate-badge">{{subject.contributors}} Contributors</span></td>
                                <td><span>&nbsp;&nbsp;&nbsp;</span><span class="badge badge-pill slate-success" (click)="modifySubject(num)">Modify</span></td>
                            </tr>
                            <tr>
                                <td><span>&nbsp;&nbsp;&nbsp;</span><span class="badge badge-pill slate-light">Updated: {{subject.updatedAt | timeAgo }}</span></td>
                                <td><span>&nbsp;&nbsp;&nbsp;</span><span class="badge badge-pill slate-badge">{{subject.texts}} Texts</span></td>
                                <td><span>&nbsp;&nbsp;&nbsp;</span><span class="badge badge-pill slate-danger" (click)="removeSubject(num)">Delete</span></td>
                            </tr>
                        </table>

                        <!--
                            <h6 class="card-subtitle mb-2 text-muted"><a href="/" class="slate-author">Nicolas</a></h6>
                        <div class="d-flex justify-content-right"></div>
                            <span class="badge badge-primary badge-pill">1</span>
                            <div><h6 class="text-muted">15 contributors - 100 texts</h6></div>
                       
                            <div><mat-icon>thumb_up</mat-icon><h6>100</h6></div>
                            <div><mat-icon>thumb_down</mat-icon><span>100</span></div>
                
                        </div>
                        -->
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

<!-- Create Subject Modal -->
<div class="modal fade" id="createSubject" #createSubject tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a new subject</h5>
        </div>
        <div class="modal-body">
            <input class="form-control slate-search-name" [ngClass]="createSubjectInvalid ? 'is-invalid' : ''" placeholder="Enter the subject title..." type="text" [(ngModel)]="createSubjectTitle">
            <div class="invalid-feedback">{{createSubjectError}}</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-outline-success-border" (click)="createNewSubject()">Create</button>
          <button type="button" class="btn btn-outline-danger btn-outline-danger-border" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
</div>

    <!--
    <br>
    <h2>Create a new subject : </h2>
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter title" [(ngModel)]="newSubject.title">
            <button type="button" class="btn btn-success" (click)="createSubject()">Create</button>
        </div>
    </div>

    <br><br>
    <h2>List of subjects : </h2>
    <div class="container-fluid">
        <div class="row" *ngFor="let subject of subjects; let num = index">
            <div class="col-sm-8"><a href=""><h2>{{subject.title}}</h2></a></div>
            <div class="col-sm-2"><button type="button" class="btn btn-success" (click)="viewSubject(subject)">View</button></div>
            <div class="col-sm-2"><button type="button" class="btn btn-danger" (click)="removeSubject(num)">Remove</button></div>
        </div>
    </div>

    -->


</div>



