<div *ngIf="cs.explorerConcept == null">
    <mat-progress-spinner></mat-progress-spinner>
 </div>
<div *ngIf="cs.explorerConcept != null">

    <mat-accordion>
        <mat-expansion-panel
            *ngFor="let corpus of cs.explorerConcept.corpora; index as i; trackBy: trackByFn"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
                <span>{{i}}: {{corpus.author.username}}</span>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{corpus.description}}</p>

          <p 
            *ngFor="let document of corpus.documents; index as j; trackBy: trackByFn"
          ><a (click)="readDocument(i, j)">{{j}} : {{document.title}}</a></p>
        </mat-expansion-panel>
      </mat-accordion>
</div>