
<div class="container-fluid">
    <h2>Editor :</h2>

    <div
        class="list-group editor-list"
        cdkDropList
        [cdkDropListData]="cs.editorTexts"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="entered($event)" 
        (cdkDropListExited)="exited($event)"
        (cdkDropListDragged)="started($event)"
    >
        <div 
            class="list-group-item justify-content-between align-items-center editor-textbox"
            *ngFor="let text of cs.editorTexts; let i = index"
            (mouseenter)="onMouseOver(i, true)"
            (mouseleave)="onMouseOver(i, false)"
            (cdkDragStarted)="started($event)"
            (cdkDragEnded)="ended($event)"
            cdkDrag
        >
            <div class="editor-box">
                <ckeditor class="editor-detailed-interface" [editor]="Editor" [(ngModel)]="cs.editorTexts[i].text" *ngIf="cs.editorTexts[i].showDetailed === true" [config]=""></ckeditor>
                <ckeditor class="editor-simple-interface" [editor]="Editor" [(ngModel)]="cs.editorTexts[i].text" *ngIf="cs.editorTexts[i].showDetailed === false" [config]="{toolbar: false}"></ckeditor>
                <div class="editor-commands d-flex justify-content-end">
                    <div class="editor-icon" (click)="toggleDetailedEditor(i)"><mat-icon>create</mat-icon></div>
                    <div class="editor-icon" (click)="cs.createTextAtIndex(i+1)"><mat-icon>add</mat-icon></div>
                    <div class="editor-icon"><mat-icon>chevron_left</mat-icon></div>
                    <div class="editor-icon"><mat-icon>chevron_right</mat-icon></div>
                    <div class="editor-handle" cdkDragHandle><mat-icon>control_camera</mat-icon></div>
                    <div class="editor-icon" (click)="cs.deleteTextAtIndex(i)"><mat-icon>clear</mat-icon></div>
                </div>
                <div *cdkDragPreview>
                    <div class="editor-preview editor-textbox align-items-center justify-content-between">{{cs.editorTexts[i].text | slice:0:100}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--
    <ckeditor class="editor-interface" [editor]="Editor" [(ngModel)]="mockTexts[0].text" *ngIf="false"></ckeditor>
    <ckeditor class="editor-interface" [editor]="Editor" [(ngModel)]="mockTexts[0].text" *ngIf="true" [config]="{toolbar: false}"></ckeditor>
    <div class="editor-commands d-flex justify-content-end">
        <div class="editor-handle" cdkDragHandle><mat-icon>control_camera</mat-icon></div>
        <div class="editor-delete"><mat-icon>delete_forever</mat-icon></div>
    </div>
    <br>

    <ckeditor [editor]="Editor" [(ngModel)]="mockTexts[0].text" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }" style="background-color: black;"></ckeditor>

    <br>

    <ckeditor [editor]="Editor" [(ngModel)]="mockTexts[0].text" [disabled]="true" [config]="{toolbar: false}"></ckeditor>

    <ckeditor [editor]="Editor" [(ngModel)]="mockTexts[0].text" [disabled]="true" [config]="{toolbar: false}" *ngIf></ckeditor>

    <div #draggable>
        <div id="in">On Mouse Over</div>
        <div id="out">On Mouse Over</div>
    </div>

   

    <br>

    <div
        class="example-list"
        cdkDropList
        [cdkDropListData]="mockTexts"
        (cdkDropListDropped)="drop($event)">px
        
        <div class="example-box" *ngFor="let text of mockTexts" cdkDrag>
            <textarea autosize class="autosize" [(ngModel)]="text.text"></textarea>
        </div>
    </div>

    <br>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-primary badge-pill">views 14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>

    <textarea class="form-control text-area bg-primary border-secondary color-primary" 
    id="exampleTextarea" rows="25" style="margin-top: 0px; margin-bottom: 0px;" 
    (ngModelChange)="update()"
    > 
    <b>asd</b>
    <p *ngFor="let text of cs.editorText">{{text.text}}</p>

    <b>asd</b>



    </textarea>

    <button type="button" class="btn btn-success" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger" (click)="viewSubject(subject)">Cancel</button>
-->
