<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">

    <button mat-button (click)="sidenav.leftClick()"><mat-icon>menu</mat-icon></button>
    <a class="navbar-brand"  [routerLink]="['/']">Collab</a>

    <!--Collapse toggler-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collabNavBar" aria-controls="collabNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--Nav Bar-->
    <div class="collapse navbar-collapse" id="collabNavBar">

      <ul class="nav navbar-nav mr-auto">

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item" *ngIf="us.isConnected()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="us.isAdmin()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/administration']">Administration</a>
        </li>

        <!-- <a [routerLink]="['/viewer']">Viewer</a> -->

        <!--Breadcrumnbs-->
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="pages" aria-expanded="false">Home <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="pages">
            <a class="dropdown-item" href="../default/">Home</a>
            <a class="dropdown-item" href="./dashboard">Dashboard</a>
            <a class="dropdown-item" href="./register">Register</a>
          </div>
        </li>
        -->

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <!-- Search Bar -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control form-control-sm" type="text" placeholder="Search">
          <button class="btn btn-secondary  btn-sm" type="submit" (click)="search()">Search</button>
        </form>

        <!--If not connected-->
        <li class="nav-item" *ngIf="!us.isConnected()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/register']">Register</a>
        </li>

        <!--If connected-->
        <li class="nav-item dropdown" *ngIf="us.isConnected()">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="profile" aria-expanded="true">{{us.currentUser.username}}<span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="profile">
            <a class="dropdown-item" [routerLink]="['/profile']" profile="">Your profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  href="#" (click)="us.logout()" profile="">Sign out</a>
          </div>
        </li>
      </ul>
      <button mat-button (click)="sidenav.rightClick()"><mat-icon>menu</mat-icon></button>
    </div>
  </div>
</div>

<!-- <div class="header-spacer"></div> -->