
.header-spacer {
    height: 50px;
}

.corpus-navbar {
    margin-top: 1rem;
}

.corpus-header {
    margin-top: 1rem;
    border-bottom: 1px solid rgba(255,255,255,.12);
}

.col-md-12 {
    padding: 0rem
    ;
}

.mat-tab-label {
    width: 70px;
}
