<div class="container">
    <br>
    <h1>Users : </h1>

    <button type="button" class="btn btn-success" (click)="getMessage()">Get</button>
    <button type="button" class="btn btn-info" (click)="saveUsers()">Save</button>
    <br><br>

    <div class="form-group">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="New user" id="addUser" [(ngModel)]="newUser.username">
            <button type="button" class="btn btn-success" (click)="addUser()">Add</button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" *ngFor="let user of users; let num = index">
            <div class="col-sm-8"><h2>{{user.username}}</h2></div>
            <div class="col-sm-4"><button type="button" class="btn btn-danger" (click)="removeUser(num)">Remove</button></div>
        </div>
    </div>
</div>


