<!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> -->




<div class="test" data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#section1">Section 1</a></li>
            <li><a href="#section2">Section 2</a></li>
            <li><a href="#section3">Section 3</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#section41">Section 4-1</a></li>
                <li><a href="#section42">Section 4-2</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>    
  
  <div id="section1" class="container-fluid">
    <h1>Section 1</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="section2" class="container-fluid">
    <h1>Section 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="section3" class="container-fluid">
    <h1>Section 3</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="section41" class="container-fluid">
    <h1>Section 4 Submenu 1</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  <div id="section42" class="container-fluid">
    <h1>Section 4 Submenu 2</h1>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  </div>
  
</div>
















<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->

  <!-- <ul role="navigation" snScrollSpy id="foo">
    <li><a snScrollSpyItem for="foo" href="viewer#section1">Section 1</a></li>
    <li><a snScrollSpyItem for="foo" href="viewer#section2">Section 2</a></li>
    <li><a snScrollSpyItem for="foo" href="viewer#section3">Section 3</a></li>
    <li><a snScrollSpyItem for="foo" href="viewer#section4">Section 4</a></li>
  </ul>
   
  <sn-scroll-spy-section id="section1" for="foo">content goes here</sn-scroll-spy-section>
  <sn-scroll-spy-section id="section2" for="foo">content goes here</sn-scroll-spy-section>
  <sn-scroll-spy-section id="section3" for="foo">content goes here</sn-scroll-spy-section>
  <sn-scroll-spy-section id="section4" for="foo">content goes here</sn-scroll-spy-section>

  <mat-sidenav-container autosize>
    <mat-sidenav #navigationSidenav mode="over" role="navigation">
        <mat-toolbar>
            <mat-toolbar-row>
              <h2 class="toolbar-title"> asd</h2>
            </mat-toolbar-row>
          </mat-toolbar>
    </mat-sidenav>

  </mat-sidenav-container>

  <a href="#opening">Top</a>


  <p id="opening">Hyperlinks are utilized by a web browser to move from one page to another...</p>


  <button (click)="scroll(target)">Click to scroll</button>
    <div #target>Your target</div>

    <a href="viewer#promotions">Learn More</a>

    <ul class="generic-list">
        <li class="item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit labore ipsam quae provident, minima quas possimus sequi doloribus nam illo? Quia minima eligendi ullam cupiditate cum corrupti possimus provident est vero impedit earum, amet debitis eius magni, reprehenderit atque totam eum! A possimus enim ratione nobis, eligendi sit quae, architecto in totam quod sed laboriosam, placeat iste. Voluptatum, ipsam. Ipsa, ipsum et nobis deserunt perferendis aperiam magnam praesentium cupiditate ea iste reiciendis nam dolor dolore repellendus mollitia suscipit corrupti numquam reprehenderit. Minus eos ullam error corporis iste laborum vitae tenetur libero, aperiam non blanditiis? Distinctio voluptates eveniet repellendus fugiat itaque?</li>
        <li class="item">Laborum cupiditate cumque ad maxime repellat voluptas dignissimos? Beatae nobis unde ex nisi repellat earum laboriosam. Alias praesentium maiores voluptatibus quia iusto, asperiores tempore rem recusandae nostrum sit labore minus! Consequatur minima magnam laboriosam veniam reprehenderit, ab ipsam ducimus explicabo laudantium saepe omnis? Mollitia expedita ratione beatae omnis, sint porro veniam. Placeat vitae quod quisquam dicta odit quis inventore ut voluptatibus quaerat voluptate, ipsum voluptatem deserunt iusto exercitationem, sint dolorum qui eaque iure. Nam consectetur reprehenderit perspiciatis sint ratione doloremque tenetur delectus itaque, eos possimus! Tempore ducimus, possimus ipsum ab illum odio officia quas soluta adipisci quasi, laborum alias magnam!</li>
        <li class="item">Pariatur ad quae eveniet nemo, debitis aliquid aut nihil nesciunt itaque nostrum sapiente beatae eaque sit esse alias ullam veritatis dolore enim nam. Eius, nulla dicta. Beatae voluptatum iusto quasi at ipsam soluta nisi ab. Laboriosam itaque illum accusamus asperiores voluptatibus recusandae laborum alias reprehenderit soluta quisquam? In amet ipsum at fugiat quos facere deserunt maxime nostrum, debitis iste, corporis aspernatur dolores labore? Placeat ullam quaerat quod totam? Rerum odit veritatis, repudiandae sed nam tempora nobis eius magni voluptate minus magnam minima incidunt, libero voluptatum ad nisi consequatur in quo, adipisci velit eum temporibus rem consequuntur? Id maiores nobis accusantium!</li>
        <li class="item">Natus cumque assumenda quod modi incidunt nobis rem nemo quaerat laudantium facilis qui voluptatibus totam, voluptatem harum similique deleniti nihil ratione, temporibus non ullam voluptates. Dignissimos harum id excepturi voluptas consectetur. Est, porro. Officiis aliquam eveniet impedit veritatis at minus delectus laborum, esse unde incidunt autem aperiam eum earum animi voluptatum beatae eaque explicabo deserunt repellendus dicta consectetur necessitatibus totam iure. Dolorum alias id magni ex iste repellat at tempora animi. Architecto dolore reprehenderit atque repellat, animi reiciendis molestias, nihil facilis repellendus, aliquid id! Culpa nemo quisquam vel doloribus, architecto in laboriosam cupiditate et ipsum sunt consequuntur quaerat, explicabo tempora!</li>
        <li class="item">Maxime adipisci magni accusamus omnis dolor pariatur suscipit. Nam omnis magnam laboriosam, obcaecati excepturi aliquid sunt distinctio culpa ipsam modi temporibus? Ratione, omnis illum numquam maiores iusto assumenda repellat facere tempore voluptate sed aperiam culpa nesciunt aspernatur, iure illo quos sint temporibus error dicta earum voluptatem, libero magnam voluptas? Aliquid repudiandae tenetur distinctio mollitia id sed. Quae porro suscipit dicta tempore aliquam, saepe quo! Architecto enim ab quam quis maiores quisquam rerum deleniti. Nisi sapiente dolore sint molestiae odit maxime rem modi fugiat quidem nostrum, quo omnis dolorum quis asperiores molestias debitis necessitatibus, pariatur ratione culpa quia tenetur! Soluta, neque.</li>
        <li class="item">Sequi recusandae sit obcaecati, accusantium odit architecto, nostrum quod corrupti nemo asperiores consequatur inventore, atque fuga placeat tenetur? Tempore recusandae beatae qui harum maiores similique, vitae possimus voluptatibus repellendus veniam sunt doloribus perferendis necessitatibus iste sint repudiandae molestias voluptatum obcaecati fugit eum, mollitia autem adipisci vel ea. Perspiciatis necessitatibus rerum accusantium eveniet, beatae blanditiis incidunt nisi optio ab! Aliquam voluptates cum magnam dignissimos modi voluptatibus illo, et dolor explicabo corrupti iusto neque adipisci deserunt, suscipit officiis, harum sequi quisquam. Ut reprehenderit dicta assumenda sint culpa non adipisci praesentium eaque eum vel. Odit, magnam eos illo quo sunt omnis eveniet sapiente.</li>
        <li class="item">Repudiandae et harum quas eligendi labore, cupiditate, voluptatem quos accusantium asperiores ipsam sunt id nobis culpa iste numquam perspiciatis pariatur eum odit sed blanditiis recusandae accusamus. Quibusdam expedita illum temporibus odio modi, saepe dolorem quam eius cupiditate, et amet nemo quo fugit repellat sapiente laboriosam pariatur, officiis placeat officia? Suscipit accusamus vero maiores quibusdam aliquid. Tempora consequatur quibusdam at itaque eum enim consequuntur autem atque, tempore quod asperiores facere ad, modi laudantium libero quaerat, laboriosam quam culpa vel nesciunt rerum? Odit magni, quidem alias ullam fuga illum illo quia eos optio in! Accusamus temporibus sint aliquam alias sit ipsam cumque.</li>
        <li class="item">Porro ab, facere earum at tempora vero assumenda est maxime rem nostrum cum hic quaerat mollitia explicabo aspernatur modi exercitationem soluta, corrupti odit repudiandae dolorum dolor, sit numquam? Autem fugiat sint necessitatibus harum obcaecati repellat nesciunt ducimus quos aliquid et doloribus delectus veritatis est nisi vero perferendis temporibus laudantium ipsa quas quo ut, aut assumenda. Minima labore facilis, ut voluptatem animi necessitatibus id dolorem adipisci. Consequuntur temporibus eveniet consequatur, vel labore accusantium tempore eos nulla placeat deserunt ipsa ipsum deleniti non suscipit quos, ea ad maiores et? Iusto, delectus beatae veritatis culpa dolore minus blanditiis, sed enim reiciendis, provident alias.</li>
        <li class="item">Explicabo molestiae sequi sunt eveniet similique, ipsa dolor esse dolorem tempora quas culpa impedit aperiam iste quos perspiciatis sint exercitationem voluptatibus? Sunt, doloribus! Soluta ex, illum ut iste hic iusto recusandae, voluptatem corrupti minus, facere pariatur consequatur nisi modi sit atque officia doloribus? Deserunt aspernatur quisquam earum quos facere dolore dolorum architecto veniam et doloremque esse placeat beatae illo, suscipit minima, id rerum repellendus! Vero nisi voluptatum tempora quasi hic, dolorem sit debitis deserunt, exercitationem accusantium autem id ea soluta dicta, aut dolor saepe sapiente asperiores deleniti modi nesciunt perspiciatis ab repellat. Tempora, natus eum? Nostrum pariatur ipsa harum animi.</li>
        <li ><p id="promotions">asd</p><h1>Promotions</h1></li>
        <li class="item">Libero ullam necessitatibus accusamus minima consequatur? Quisquam quasi, vero ut deserunt aliquam sequi ipsum. Atque nesciunt facere dignissimos iusto quod aut expedita alias obcaecati, mollitia iure. Harum error ipsam dolore in ab dignissimos! Nulla sit eum dolores minima excepturi, alias officia deleniti! Dolorem veniam ut delectus et consequatur voluptatem atque, ipsam non exercitationem autem sed eveniet iste, molestias adipisci temporibus placeat ratione aspernatur asperiores inventore dolores sequi. Consequatur tempora cumque tempore quam voluptates autem optio laborum repellendus omnis, atque, exercitationem reprehenderit in beatae eius laudantium et molestiae expedita nulla. Aliquam fuga unde temporibus magni culpa quo debitis, harum natus. Repudiandae.</li>
        <li class="item">Sapiente adipisci aperiam eveniet mollitia ab impedit tenetur blanditiis. Ea quibusdam temporibus, vel quia aperiam doloribus sunt aliquid beatae magnam voluptates eveniet, ullam eum quasi error non accusamus! Harum accusamus ipsam aliquid tempora cum incidunt architecto nesciunt sed facilis, quae eius quod beatae nam sunt aspernatur temporibus ipsa, reprehenderit id? Numquam labore modi recusandae quo, autem illo porro. Eos dolorem facere minus ut consequatur optio sapiente labore voluptatibus illum neque reiciendis ex deserunt iste quaerat eaque, doloribus nemo molestiae eligendi aperiam iure mollitia assumenda accusantium quos! Quas doloremque, a asperiores quaerat, adipisci temporibus necessitatibus est saepe iste illum, non blanditiis.</li>
        <li class="item">Vel porro quaerat ipsam similique sequi laboriosam earum in excepturi quibusdam modi esse nam deleniti, perspiciatis quae fugiat voluptate impedit officiis reiciendis repellendus tenetur provident mollitia voluptas consequuntur. Numquam quam impedit quae, tempora repellendus ab repudiandae quia dolor, aliquam reiciendis, omnis expedita ratione iure molestiae totam optio facilis a voluptas? Nesciunt, excepturi corrupti quae aspernatur repudiandae dolor at, quos iste voluptates amet consectetur numquam incidunt veniam cupiditate voluptatem facilis accusantium nobis reprehenderit, quo voluptas enim? Nulla animi iure fuga quas nisi laboriosam voluptates deleniti. Nam voluptas iste unde aspernatur ut, nesciunt explicabo, reiciendis tempora repudiandae velit delectus, aperiam praesentium architecto!</li>
        <li class="item">Similique maiores expedita voluptate beatae praesentium, blanditiis rem architecto aut cumque eaque molestiae ipsam minima impedit amet optio eius ipsa magni cum illo hic soluta! Ipsum aliquid inventore ipsam beatae labore iusto? Consequuntur ipsum quaerat quos tempora. Sed, modi sapiente odit vero facilis illum quam dolores totam officiis saepe, delectus similique nihil. Adipisci delectus maxime vel dignissimos voluptatibus voluptatum tempore quod quam error incidunt atque natus ad numquam possimus, aut fugiat temporibus quibusdam sed? Fugit temporibus ut repudiandae illum nisi ipsa esse quis libero ratione accusamus quas necessitatibus saepe consequuntur nihil, eos ex soluta tempora dicta recusandae quisquam nobis! Itaque?</li>
        <li class="item">Similique cupiditate mollitia, exercitationem accusamus voluptate excepturi voluptatem, odit qui sapiente earum ipsa eum explicabo. Facilis eius aliquam, eum iure possimus repellendus fugiat odio expedita voluptate nisi inventore explicabo! Officiis mollitia pariatur accusamus vitae consectetur dolor veritatis illo eaque, voluptas exercitationem odio doloremque voluptate tempore voluptatem modi minus iste eum odit error dicta porro rem ullam expedita facere? Eligendi ipsum quasi cupiditate et autem rem nihil minima recusandae consequatur voluptates quod nemo aspernatur, culpa deleniti dicta hic sunt laudantium totam. Earum quasi molestias, aperiam laudantium impedit praesentium commodi, totam recusandae ipsa deserunt iusto odio placeat quas similique. Numquam, deleniti saepe.</li>
        <li class="item">Dicta autem repellat tempore quidem soluta unde quaerat dolore odit perferendis dolorem sequi sunt id, repellendus ex iusto ea maxime at harum vel hic. Aliquid distinctio odio fugiat iste officiis totam ad quidem, placeat nulla consequuntur error voluptatum nesciunt impedit. Iure accusantium magni dolorem ducimus dolorum dolore, sed porro a rem fugiat eligendi magnam pariatur cumque nobis illum, explicabo quas repellat fugit possimus velit earum, ut debitis! Laborum beatae aut eum vitae quod rem sapiente obcaecati! Cum numquam explicabo dolore laboriosam iste in, sed reprehenderit ducimus, incidunt dicta enim delectus magni aliquam labore nobis? Vel, dolorum animi. Accusamus, illum delectus?</li>
        <li class="item">Sapiente adipisci aperiam eveniet mollitia ab impedit tenetur blanditiis. Ea quibusdam temporibus, vel quia aperiam doloribus sunt aliquid beatae magnam voluptates eveniet, ullam eum quasi error non accusamus! Harum accusamus ipsam aliquid tempora cum incidunt architecto nesciunt sed facilis, quae eius quod beatae nam sunt aspernatur temporibus ipsa, reprehenderit id? Numquam labore modi recusandae quo, autem illo porro. Eos dolorem facere minus ut consequatur optio sapiente labore voluptatibus illum neque reiciendis ex deserunt iste quaerat eaque, doloribus nemo molestiae eligendi aperiam iure mollitia assumenda accusantium quos! Quas doloremque, a asperiores quaerat, adipisci temporibus necessitatibus est saepe iste illum, non blanditiis.</li>
        <li class="item">Vel porro quaerat ipsam similique sequi laboriosam earum in excepturi quibusdam modi esse nam deleniti, perspiciatis quae fugiat voluptate impedit officiis reiciendis repellendus tenetur provident mollitia voluptas consequuntur. Numquam quam impedit quae, tempora repellendus ab repudiandae quia dolor, aliquam reiciendis, omnis expedita ratione iure molestiae totam optio facilis a voluptas? Nesciunt, excepturi corrupti quae aspernatur repudiandae dolor at, quos iste voluptates amet consectetur numquam incidunt veniam cupiditate voluptatem facilis accusantium nobis reprehenderit, quo voluptas enim? Nulla animi iure fuga quas nisi laboriosam voluptates deleniti. Nam voluptas iste unde aspernatur ut, nesciunt explicabo, reiciendis tempora repudiandae velit delectus, aperiam praesentium architecto!</li>
        <li class="item">Similique maiores expedita voluptate beatae praesentium, blanditiis rem architecto aut cumque eaque molestiae ipsam minima impedit amet optio eius ipsa magni cum illo hic soluta! Ipsum aliquid inventore ipsam beatae labore iusto? Consequuntur ipsum quaerat quos tempora. Sed, modi sapiente odit vero facilis illum quam dolores totam officiis saepe, delectus similique nihil. Adipisci delectus maxime vel dignissimos voluptatibus voluptatum tempore quod quam error incidunt atque natus ad numquam possimus, aut fugiat temporibus quibusdam sed? Fugit temporibus ut repudiandae illum nisi ipsa esse quis libero ratione accusamus quas necessitatibus saepe consequuntur nihil, eos ex soluta tempora dicta recusandae quisquam nobis! Itaque?</li>
        <li class="item">Similique cupiditate mollitia, exercitationem accusamus voluptate excepturi voluptatem, odit qui sapiente earum ipsa eum explicabo. Facilis eius aliquam, eum iure possimus repellendus fugiat odio expedita voluptate nisi inventore explicabo! Officiis mollitia pariatur accusamus vitae consectetur dolor veritatis illo eaque, voluptas exercitationem odio doloremque voluptate tempore voluptatem modi minus iste eum odit error dicta porro rem ullam expedita facere? Eligendi ipsum quasi cupiditate et autem rem nihil minima recusandae consequatur voluptates quod nemo aspernatur, culpa deleniti dicta hic sunt laudantium totam. Earum quasi molestias, aperiam laudantium impedit praesentium commodi, totam recusandae ipsa deserunt iusto odio placeat quas similique. Numquam, deleniti saepe.</li>
        <li class="item">Dicta autem repellat tempore quidem soluta unde quaerat dolore odit perferendis dolorem sequi sunt id, repellendus ex iusto ea maxime at harum vel hic. Aliquid distinctio odio fugiat iste officiis totam ad quidem, placeat nulla consequuntur error voluptatum nesciunt impedit. Iure accusantium magni dolorem ducimus dolorum dolore, sed porro a rem fugiat eligendi magnam pariatur cumque nobis illum, explicabo quas repellat fugit possimus velit earum, ut debitis! Laborum beatae aut eum vitae quod rem sapiente obcaecati! Cum numquam explicabo dolore laboriosam iste in, sed reprehenderit ducimus, incidunt dicta enim delectus magni aliquam labore nobis? Vel, dolorum animi. Accusamus, illum delectus?</li>
        <li class="item">Sapiente adipisci aperiam eveniet mollitia ab impedit tenetur blanditiis. Ea quibusdam temporibus, vel quia aperiam doloribus sunt aliquid beatae magnam voluptates eveniet, ullam eum quasi error non accusamus! Harum accusamus ipsam aliquid tempora cum incidunt architecto nesciunt sed facilis, quae eius quod beatae nam sunt aspernatur temporibus ipsa, reprehenderit id? Numquam labore modi recusandae quo, autem illo porro. Eos dolorem facere minus ut consequatur optio sapiente labore voluptatibus illum neque reiciendis ex deserunt iste quaerat eaque, doloribus nemo molestiae eligendi aperiam iure mollitia assumenda accusantium quos! Quas doloremque, a asperiores quaerat, adipisci temporibus necessitatibus est saepe iste illum, non blanditiis.</li>
        <li class="item">Vel porro quaerat ipsam similique sequi laboriosam earum in excepturi quibusdam modi esse nam deleniti, perspiciatis quae fugiat voluptate impedit officiis reiciendis repellendus tenetur provident mollitia voluptas consequuntur. Numquam quam impedit quae, tempora repellendus ab repudiandae quia dolor, aliquam reiciendis, omnis expedita ratione iure molestiae totam optio facilis a voluptas? Nesciunt, excepturi corrupti quae aspernatur repudiandae dolor at, quos iste voluptates amet consectetur numquam incidunt veniam cupiditate voluptatem facilis accusantium nobis reprehenderit, quo voluptas enim? Nulla animi iure fuga quas nisi laboriosam voluptates deleniti. Nam voluptas iste unde aspernatur ut, nesciunt explicabo, reiciendis tempora repudiandae velit delectus, aperiam praesentium architecto!</li>
        <li class="item">Similique maiores expedita voluptate beatae praesentium, blanditiis rem architecto aut cumque eaque molestiae ipsam minima impedit amet optio eius ipsa magni cum illo hic soluta! Ipsum aliquid inventore ipsam beatae labore iusto? Consequuntur ipsum quaerat quos tempora. Sed, modi sapiente odit vero facilis illum quam dolores totam officiis saepe, delectus similique nihil. Adipisci delectus maxime vel dignissimos voluptatibus voluptatum tempore quod quam error incidunt atque natus ad numquam possimus, aut fugiat temporibus quibusdam sed? Fugit temporibus ut repudiandae illum nisi ipsa esse quis libero ratione accusamus quas necessitatibus saepe consequuntur nihil, eos ex soluta tempora dicta recusandae quisquam nobis! Itaque?</li>
        <li class="item">Similique cupiditate mollitia, exercitationem accusamus voluptate excepturi voluptatem, odit qui sapiente earum ipsa eum explicabo. Facilis eius aliquam, eum iure possimus repellendus fugiat odio expedita voluptate nisi inventore explicabo! Officiis mollitia pariatur accusamus vitae consectetur dolor veritatis illo eaque, voluptas exercitationem odio doloremque voluptate tempore voluptatem modi minus iste eum odit error dicta porro rem ullam expedita facere? Eligendi ipsum quasi cupiditate et autem rem nihil minima recusandae consequatur voluptates quod nemo aspernatur, culpa deleniti dicta hic sunt laudantium totam. Earum quasi molestias, aperiam laudantium impedit praesentium commodi, totam recusandae ipsa deserunt iusto odio placeat quas similique. Numquam, deleniti saepe.</li>
        <li class="item">Dicta autem repellat tempore quidem soluta unde quaerat dolore odit perferendis dolorem sequi sunt id, repellendus ex iusto ea maxime at harum vel hic. Aliquid distinctio odio fugiat iste officiis totam ad quidem, placeat nulla consequuntur error voluptatum nesciunt impedit. Iure accusantium magni dolorem ducimus dolorum dolore, sed porro a rem fugiat eligendi magnam pariatur cumque nobis illum, explicabo quas repellat fugit possimus velit earum, ut debitis! Laborum beatae aut eum vitae quod rem sapiente obcaecati! Cum numquam explicabo dolore laboriosam iste in, sed reprehenderit ducimus, incidunt dicta enim delectus magni aliquam labore nobis? Vel, dolorum animi. Accusamus, illum delectus?</li>
        <li class="item">Sapiente adipisci aperiam eveniet mollitia ab impedit tenetur blanditiis. Ea quibusdam temporibus, vel quia aperiam doloribus sunt aliquid beatae magnam voluptates eveniet, ullam eum quasi error non accusamus! Harum accusamus ipsam aliquid tempora cum incidunt architecto nesciunt sed facilis, quae eius quod beatae nam sunt aspernatur temporibus ipsa, reprehenderit id? Numquam labore modi recusandae quo, autem illo porro. Eos dolorem facere minus ut consequatur optio sapiente labore voluptatibus illum neque reiciendis ex deserunt iste quaerat eaque, doloribus nemo molestiae eligendi aperiam iure mollitia assumenda accusantium quos! Quas doloremque, a asperiores quaerat, adipisci temporibus necessitatibus est saepe iste illum, non blanditiis.</li>
        <li class="item">Vel porro quaerat ipsam similique sequi laboriosam earum in excepturi quibusdam modi esse nam deleniti, perspiciatis quae fugiat voluptate impedit officiis reiciendis repellendus tenetur provident mollitia voluptas consequuntur. Numquam quam impedit quae, tempora repellendus ab repudiandae quia dolor, aliquam reiciendis, omnis expedita ratione iure molestiae totam optio facilis a voluptas? Nesciunt, excepturi corrupti quae aspernatur repudiandae dolor at, quos iste voluptates amet consectetur numquam incidunt veniam cupiditate voluptatem facilis accusantium nobis reprehenderit, quo voluptas enim? Nulla animi iure fuga quas nisi laboriosam voluptates deleniti. Nam voluptas iste unde aspernatur ut, nesciunt explicabo, reiciendis tempora repudiandae velit delectus, aperiam praesentium architecto!</li>
        <li class="item">Similique maiores expedita voluptate beatae praesentium, blanditiis rem architecto aut cumque eaque molestiae ipsam minima impedit amet optio eius ipsa magni cum illo hic soluta! Ipsum aliquid inventore ipsam beatae labore iusto? Consequuntur ipsum quaerat quos tempora. Sed, modi sapiente odit vero facilis illum quam dolores totam officiis saepe, delectus similique nihil. Adipisci delectus maxime vel dignissimos voluptatibus voluptatum tempore quod quam error incidunt atque natus ad numquam possimus, aut fugiat temporibus quibusdam sed? Fugit temporibus ut repudiandae illum nisi ipsa esse quis libero ratione accusamus quas necessitatibus saepe consequuntur nihil, eos ex soluta tempora dicta recusandae quisquam nobis! Itaque?</li>
        <li class="item">Similique cupiditate mollitia, exercitationem accusamus voluptate excepturi voluptatem, odit qui sapiente earum ipsa eum explicabo. Facilis eius aliquam, eum iure possimus repellendus fugiat odio expedita voluptate nisi inventore explicabo! Officiis mollitia pariatur accusamus vitae consectetur dolor veritatis illo eaque, voluptas exercitationem odio doloremque voluptate tempore voluptatem modi minus iste eum odit error dicta porro rem ullam expedita facere? Eligendi ipsum quasi cupiditate et autem rem nihil minima recusandae consequatur voluptates quod nemo aspernatur, culpa deleniti dicta hic sunt laudantium totam. Earum quasi molestias, aperiam laudantium impedit praesentium commodi, totam recusandae ipsa deserunt iusto odio placeat quas similique. Numquam, deleniti saepe.</li>
        <li class="item">Dicta autem repellat tempore quidem soluta unde quaerat dolore odit perferendis dolorem sequi sunt id, repellendus ex iusto ea maxime at harum vel hic. Aliquid distinctio odio fugiat iste officiis totam ad quidem, placeat nulla consequuntur error voluptatum nesciunt impedit. Iure accusantium magni dolorem ducimus dolorum dolore, sed porro a rem fugiat eligendi magnam pariatur cumque nobis illum, explicabo quas repellat fugit possimus velit earum, ut debitis! Laborum beatae aut eum vitae quod rem sapiente obcaecati! Cum numquam explicabo dolore laboriosam iste in, sed reprehenderit ducimus, incidunt dicta enim delectus magni aliquam labore nobis? Vel, dolorum animi. Accusamus, illum delectus?</li>
   
    
    
    
    </ul>

    <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="viewer#">Navbar</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="viewer#fat">@fat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./#mdo">@mdo</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="./#one">one</a>
              <a class="dropdown-item" href="./#two">two</a>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" href="./#three">three</a>
            </div>
          </li>
        </ul>
      </nav>
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <h4 id="fat">@fat</h4>
        <p>...</p>
        <h4 id="mdo">@mdo</h4>
        <p>...</p>
        <h4 id="one">one</h4>
        <p>...</p>
        <h4 id="two">two</h4>
        <p>...</p>
        <h4 id="three">three</h4>
        <p>...</p>
      </div>
   -->

<!-- <br>
<br>

<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  My Awesome App
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer">
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>

          <mat-card-title>John Doe</mat-card-title>
          <mat-card-subtitle>Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>work</mat-icon>
          Project
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <mat-selection-list class="dash-list">
      <h3>TO DO</h3>
      <mat-list-option *ngFor="let todo of task">
        {{todo}}
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav-content>
</mat-sidenav-container> -->
