
.list-group-item {
  position: relative;
  display: block;
  //padding: 0.75rem 1.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #32383e;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .editor-preview {
    width: 20rem;
    height: 5rem;
    position: fixed;
    transform: translate3d(-20rem, -5rem, 0px);
    background-color: #32383E;
    border: 1px solid black;
    padding: 0.5rem;
  
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    //transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .editor-handle {
    cursor: grab;
  }

  .editor-icon {
    cursor: pointer;
  }

    // CK Editor

 :host ::ng-deep .ck-content {
  color: #c8c8c8;
  --ck-color-base-foreground: #fafafa;
  --ck-color-base-background: #32383e;
  --ck-color-base-border: #32383e;
}


:host ::ng-deep .ck-toolbar_grouping {
  --ck-custom-background: #1c1e22;
}

 :host ::ng-deep {
  --ck-border-radius: 4px 4px 0px 0px;;
  --ck-font-size-base: 14px;
  --ck-custom-background: #1c1e22;
  --ck-custom-foreground: #2d2d2f;
  --ck-custom-border: #393839;
  --ck-custom-white: #fff;
  --ck-color-base-foreground: var(--ck-custom-background);
  --ck-color-focus-border: #47a4f5;
  --ck-color-text: #fafafa;
  --ck-color-shadow-drop: rgba(0,0,0,0.2);
  --ck-color-shadow-inner: rgba(0,0,0,0.1);
  --ck-color-button-default-background: var(--ck-custom-background);
  --ck-color-button-default-hover-background: #383839;
  --ck-color-button-default-active-background: #333234;
  --ck-color-button-default-active-shadow: #3b393c;
  --ck-color-button-default-disabled-background: var(--ck-custom-background);
  --ck-color-button-on-background: var(--ck-custom-foreground);
  --ck-color-button-on-hover-background: #28272a;
  --ck-color-button-on-active-background: #232225;
  --ck-color-button-on-active-shadow: #2f2f32;
  --ck-color-button-on-disabled-background: var(--ck-custom-foreground);
  --ck-color-button-action-background: #1abc9c;
  --ck-color-button-action-hover-background: #17ab8d;
  --ck-color-button-action-active-background: #16a286;
  --ck-color-button-action-active-shadow: #16987e;
  --ck-color-button-action-disabled-background: #1abc9c;
  --ck-color-button-action-text: var(--ck-custom-white);
  --ck-color-button-save: #00eb00;
  --ck-color-button-cancel: #ff571f;
  --ck-color-dropdown-panel-background: var(--ck-custom-background);
  --ck-color-dropdown-panel-border: var(--ck-custom-foreground);
  --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
  --ck-color-split-button-hover-border: var(--ck-custom-foreground);
  --ck-color-input-background: var(--ck-custom-foreground);
  --ck-color-input-border: #6c6a71;
  --ck-color-input-text: #fafafa;
  --ck-color-input-disabled-background: #343338;
  --ck-color-input-disabled-border: #5f5e64;
  --ck-color-input-disabled-text: #757575;
  --ck-color-list-background: var(--ck-custom-background);
  --ck-color-list-button-hover-background: var(--ck-custom-foreground);
  --ck-color-list-button-on-background: #198cf0;
  --ck-color-list-button-on-text: var(--ck-custom-white);
  --ck-color-panel-background: var(--ck-custom-background);
  --ck-color-panel-border: var(--ck-custom-border);
  --ck-color-toolbar-background: var(--ck-custom-background);
  --ck-color-toolbar-border: #32383E;
  --ck-color-tooltip-background: #222126;
  --ck-color-tooltip-text: #ededed;
  --ck-color-image-caption-background: #f7f7f7;
  --ck-color-image-caption-text: #333;
  --ck-color-widget-blurred-border: #dedede;
  --ck-color-widget-hover-border: #ffd15c;
  --ck-color-widget-editable-focus-background: var(--ck-custom-white);
  --ck-color-link-default: #80eaff;
}