<div class="container">
    <br>
    <br>
    <h2>{{subject.title}}</h2>

    <br>
    <br>
    <textarea class="form-control text-area bg-primary border-secondary color-primary" 
    id="exampleTextarea" rows="25" style="margin-top: 0px; margin-bottom: 0px;" 
    [(ngModel)]="subject.description"
    (ngModelChange)="update()"
    ></textarea>
</div>


<!--
<p (click)="display()"  >subject works!</p>
<div class="container">
    <editor
    [init]="{
        height: 500,
        menubar: false,
        plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
        ],
        toolbar:
        'undo redo | formatselect | bold italic backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat | help'
    }"
    [(ngModel)]="dataModel"
    ></editor>

    <quill-editor></quill-editor>
</div>











list-group-item d-flex justify-content-between align-items-center


-->

