
<!-- NEW VERSION -->
<div id="toolbar"></div>

<!-- CLASSIC EDITOR -->
<!--<ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->

<!-- DECOUPLED EDITOR -->
<div
    class="list-group editor-list"
    cdkDropList
    [cdkDropListData]="cs.editorDocument.texts"
    (cdkDropListDropped)="drop($event)"
    (cdkDropListEntered)="entered($event)" 
    (cdkDropListExited)="exited($event)"
    (cdkDropListDragged)="started($event)"
>
    <div 
        class="list-group-item justify-content-between align-items-center editor-textbox"
        *ngFor="let text of cs.editorDocument.texts; let i = index; trackBy: trackText"
        (mouseenter)="onMouseOver(i, true)"
        (mouseleave)="onMouseOver(i, false)"
        (cdkDragStarted)="started($event)"
        (cdkDragEnded)="ended($event)"
        cdkDrag
    >
        <div>
            <div *ngIf="i === activeText" class="editor-handle" cdkDragHandle><mat-icon>control_camera</mat-icon></div>
            <div *ngIf="i === activeText">
                <editable
                    #editable
                    [index]="i"
                    [(text)]="text.text"
                    (update)="onUpdate($event)"
                    (split)="onSplit($event)"
                    (merge)="onMerge($event)"
                ></editable>
            </div>
            <div *ngIf="i != activeText" (click)="onActivateText(i)">
                <p class="editableBlock" [innerHTML]="text.text"></p>
            </div>
        </div>
    </div>
    <div 
        cdkDrag 
        [cdkDragDisabled]="true"
        style="height: 300px;"
    >
        <p>This document was last edited on {{date}}</p>
        <p>By : {{Nicolas}}</p>
    </div>
</div>
<!-- OLD VERSION -->
<!--
<div class="container-fluid">
    <div
        class="list-group editor-list"
        cdkDropList
        [cdkDropListData]="cs.editorTexts"
        (cdkDropListDropped)="drop($event)"
        (cdkDropListEntered)="entered($event)" 
        (cdkDropListExited)="exited($event)"
        (cdkDropListDragged)="started($event)"
    >
        <div 
            class="list-group-item justify-content-between align-items-center editor-textbox"
            *ngFor="let text of cs.editorTexts; let i = index"
            (mouseenter)="onMouseOver(i, true)"
            (mouseleave)="onMouseOver(i, false)"
            (cdkDragStarted)="started($event)"
            (cdkDragEnded)="ended($event)"
            cdkDrag
        >
            <div class="editor-box">
                <ckeditor class="editor-detailed-interface" [editor]="Editor" [(ngModel)]="cs.editorTexts[i].text" *ngIf="cs.editorTexts[i].showDetailed === true" [disabled]="text.disabled" [config]=""></ckeditor>
                <ckeditor class="editor-simple-interface" [editor]="Editor" [(ngModel)]="cs.editorTexts[i].text" *ngIf="cs.editorTexts[i].showDetailed === false" [disabled]="text.disabled" [config]="{toolbar: false}"></ckeditor>
                <div class="editor-commands d-flex justify-content-end" *ngIf="cs.editorCommands">

                    <footer class="blockquote-footer text-right">{{text.branches}} branches  -  Author: {{text.author}}  -  Updated: {{cs.editorTexts[i].updatedAt | timeAgo }}</footer>
                    <div>&nbsp;&nbsp;</div>
                    <div class="editor-icon" (click)="toggleDetailedEditor(i)"><mat-icon>create</mat-icon></div>
                    <div class="editor-icon" (click)="cs.createTextAtIndex(i+1)"><mat-icon>add</mat-icon></div>
                    <div class="editor-icon" (click)="cs.increasePointer(i, -1)"><mat-icon>chevron_left</mat-icon></div>
                    <div class="editor-icon" (click)="cs.increasePointer(i, 1)"><mat-icon>chevron_right</mat-icon></div>
                    <div class="editor-handle" cdkDragHandle><mat-icon>control_camera</mat-icon></div>
                    <div class="editor-icon" (click)="cs.deleteTextAtIndex(i)"><mat-icon>clear</mat-icon></div>
                </div>
                <div *cdkDragPreview>
                    <div class="editor-preview editor-textbox align-items-center justify-content-between">{{cs.editorTexts[i].text | slice:0:100}}</div>
                </div>
            </div>
        </div>
        <div 
            cdkDrag 
            [cdkDragDisabled]="true"
            style="height: 300px;"
        ></div>
    </div>
</div>
-->


<!--

<ckeditor 
        [editor]="Editor" 
        [(ngModel)]="text2"
        (change)="onChange(i, text)"
        (ready)="onReady($event)" 
        (focus)="onFocus($event)" 
        (blur)="onBlur($event)"
    ></ckeditor>

<p [innerHTML]="text2"></p>

<p>{{text2}}</p>
-->
<!--
<div *ngFor="let text of editorData; let i = index">
    <ckeditor 
        [editor]="Editor" 
        [(ngModel)]="text"
        (change)="onChange(i, text)"
        (ready)="onReady($event)" 
        (focus)="onFocus($event)" 
        (blur)="onBlur($event)"
    ></ckeditor>
</div>

<div *ngFor="let text of editorData; let i = index">
    <p [innerHTML]="editorData[i]"></p>
</div>

<div *ngFor="let text of editorData; let i = index">
    <p>{{editorData[i]}}</p>
</div>
-->

<!-- MULTIROOT EDITOR -->



<!--
<div *ngFor="let text of editorData; let i = index" >
    <ckeditor   
                [editor]="Editor" 
                [(ngModel)]="text" 
                (ready)="onReady($event)" 
                [config]="configData"  
                (change)="onChange($event)" 
                (blur)="onBlur($event)" 
                (focus)="onFocus($event)">
    </ckeditor>
</div>

<div draggable="true">
    <p>test</p>
</div>

<button (click)="toggleDisabled()">
    {{ isDisabled ? 'Enable editor' : 'Disable editor' }}
</button>
-->
<!--
<h2 contenteditable="true" [(contenteditableModel)]="contenteditableModel"></h2>
<p>{{contenteditableModel}}</p>
-->

<!--
<div contenteditable="true" [(contenteditableModel)]="text"></div>
<p [innerHTML]="text"></p>
<p>{{text}}</p>
-->

<!--
<div class="content"
        [attr.contenteditable]="contenteditable"
        [(contenteditableModel)]="text"
        [contenteditableHtml]="contenteditableHtml">
    Initial content
</div>
<pre>{{contenteditableModel}}</pre>
-->




<!-- WORKING VERSION 

<h1>ContentEditable custom Angular form control</h1>
-->

<!--
<div 
        contenteditable="true" 
        [(ngModel)]="text"
        [disabled]="enabled" 
    >
</div>
<p [innerHTML]="text"></p>


<div
    *ngFor="let text of editorData; let i = index"
>
    <div 
        contenteditable="true" 
        [(ngModel)]="text"
        [disabled]="enabled" 
    >
    </div>
</div>
<div
    *ngFor="let text of editorData; let i = index"
>
    <p [innerHTML]="text"></p>
</div>
-->

<!--
<h1>New Version</h1>

<div *ngFor="let text of editorData; let i = index">
    <editable [text]="text" [index]="i" (textChange)="onChange(i, $event)"></editable>
</div>

<div *ngFor="let text of editorData; let i = index">
    <p [innerHTML]="editorData[i]"></p>
</div>

<button (click)="onClick()">asasdasd</button>



<div class="toolbar-container">
    <div id="toolbar"></div>
</div>

<div class="content-wrapper">
    <div class="root-wrapper">
        <div id="root-header" class="root">
            <h2>Gone traveling</h2>
            <h3>Monthly travel news and inspiration</h3>
        </div>

        <div id="root-content" class="root">
            <h3>Destination of the Month</h3>

            <h4>Valletta</h4>

            <figure class="image image-style-side">
                <img alt="Picture of a sunlit facade of a Maltan building." src="https://c.cksource.com/a/1/img/docs/sample-image-malta.jpg">
                <figcaption>It's siesta time in Valletta.</figcaption>
            </figure>

            <p>The capital city of <a href="https://en.wikipedia.org/wiki/Malta" target="_blank" rel="external">Malta</a> is the top destination this summer. It’s home to a cutting-edge contemporary architecture, baroque masterpieces, delicious local cuisine and at least 8 months of sun. It’s also a top destination for filmmakers, so you can take a tour through locations familiar to you from Game of Thrones, Gladiator, Troy and many more.</p>
        </div>

        <div id="root-footer" class="root">
            <h3>The three greatest things you learn from traveling</h3>
            <p><a href="#">Find out more</a></p>
        </div>
    </div>

    <div class="sidebar-container">
        <div class="sidebar"></div>
    </div>
</div>
-->




<!--
<form #testForm="ngForm">
    <p
      contenteditable="true"
      name="myFormName"
      [(ngModel)]="templateDrivenForm"
      ></p>
  </form>
   
  <pre>
    {{ testForm.value | json }}
  </pre>
  
  <hr>
  
  <p contenteditable="true" [formControl]="myControl"></p>
  
  <pre>
    {{ myControl.value | json }}
  </pre>

-->


<!--
<toolbar></toolbar>

<editable [(text)]="contenteditableModel"></editable>

<div class="container">
    <h1>Contenteditable div</h1>
    <div class="content"
         [attr.contenteditable]="contenteditable"
         [(contenteditableModel)]="contenteditableModel"
         [contenteditableHtml]="contenteditableHtml">
    </div>
    <pre>{{contenteditableModel}}</pre>
  
    <h1>Configuration</h1>
    <table>
      <tr>
        <td class="attrLabel">contenteditable</td>
        <td class="attrContent">
          <input [(ngModel)]="contenteditable" type="checkbox">
        </td>
        <td class="attrDescription">contenteditable attribute</td>
      </tr>
      <tr>
        <td class="attrLabel">contenteditableModel</td>
        <td class="attrContent">
          <input [(ngModel)]="contenteditableModel" type="input">
        </td>
        <td class="attrDescription">actual model for content</td>
      </tr>
      <tr>
        <td class="attrLabel">contenteditableHtml</td>
        <td class="attrContent">
          <input [(ngModel)]="contenteditableHtml" type="checkbox">
        </td>
        <td class="attrDescription">if true, content is interpreted as html (and sanitized)</td>
      </tr>
    </table>
</div>
-->

<!--
<hr>

<div [innerHTML]="text"></div>

<hr>

<div 
    *ngFor="let text of editorData; let i = index"
>
    <editable [(text)]="editorData[i]"></editable>
</div>

<div 
    *ngFor="let text of editorData; let i = index"
    [innerHTML]="text"
>
</div>

<button (click)="print()">
test
</button>


<p id="toolbar">Toolbar</p>

<header 
    data-inline-inject="true" 
    class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred" 
    lang="en" dir="ltr" 
    role="textbox"
    aria-label="Rich Text Editor, main" 
    contenteditable="true"
    onReady
    >
    <h2>Gone traveling</h2>
    <h3>Monthly travel news and inspiration</h3>
</header>

-->
<!--
<ckeditor [editor]="Editor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor>
-->

<!--
<div id="toolbar"></div>

<header id="header">
    <h2>Gone traveling</h2>
    <h3>Monthly travel news and inspiration</h3>
</header>

<div id="content">
    <h3>Destination of the Month</h3>

    <h4>Valletta</h4>

    <figure class="image image-style-align-right">
        <img alt="Picture of a sunlit facade of a Maltan building." src="../../../../assets/img/malta.jpg">
        <figcaption>It's siesta time in Valletta.</figcaption>
    </figure>

    <p>The capital city of <a href="https://en.wikipedia.org/wiki/Malta" target="_blank" rel="external">Malta</a> is the top destination this summer. It’s home to a cutting-edge contemporary architecture, baroque masterpieces, delicious local cuisine and at least 8 months of sun. It’s also a top destination for filmmakers, so you can take a tour through locations familiar to you from Game of Thrones, Gladiator, Troy and many more.</p>
</div>

<div class="demo-row">
    <div class="demo-row__half">
        <div id="footer-left">
            <h3>The three greatest things you learn from traveling</h3>
            <p><a href="#">Find out more</a></p>
        </div>
    </div>

    <div class="demo-row__half">
        <div id="footer-right">
            <h3>Walking the capitals of Europe: Warsaw</h3>
            <p><a href="#">Find out more</a></p>
        </div>
    </div>
</div>
-->

<!--
<div class="ck ck-toolbar ck-toolbar_grouping ck-reset_all ck-rounded-corners" role="toolbar" aria-label="Editor toolbar" dir="ltr">
</div>

<header 
    data-inline-inject="true" 
    class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred" 
    lang="en" dir="ltr" 
    role="textbox"
    aria-label="Rich Text Editor, main" 
    contenteditable="true">
    <h2>Gone traveling</h2>
    <h3>Monthly travel news and inspiration</h3>
</header>

<div 
    data-inline-inject="true" 
    class="ck ck-content ck-editor__editable ck-rounded-corners ck-editor__editable_inline ck-blurred" 
    lang="en" 
    dir="ltr" 
    role="textbox" 
    aria-label="Rich Text Editor, main" 
    contenteditable="true">
    <h3>Destination of the Month</h3>
    <h4>Valletta</h4>
    <figure class="image ck-widget image-style-align-right" contenteditable="false">
        <img alt="Picture of a sunlit facade of a Maltan building." src="../../assets/img/malta.jpg">
        <figcaption class="ck-editor__editable ck-editor__nested-editable" data-placeholder="Enter image caption" contenteditable="true">
            It's siesta time in Valletta.
        </figcaption>
    </figure>
    <p>The capital city of 
        <a href="https://en.wikipedia.org/wiki/Malta">Malta</a> 
        is the top destination this summer. It’s home to a cutting-edge contemporary architecture, baroque masterpieces, delicious local cuisine and at least 8 months of sun. It’s also a top destination for filmmakers, so you can take a tour through locations familiar to you from Game of Thrones, Gladiator, Troy and many more.
    </p>
</div>
-->


<!--
<div>
	<div id="toolbar"></div>

	<header id="header">
		<h2>Gone traveling</h2>
		<h3>Monthly travel news and inspiration</h3>
	</header>

	<div id="content">
		<h3>Destination of the Month</h3>

		<h4>Valletta</h4>

		<figure class="image image-style-align-right">
			<img alt="Picture of a sunlit facade of a Maltan building." src="%BASE_PATH%/assets/img/malta.jpg">
			<figcaption>It's siesta time in Valletta.</figcaption>
		</figure>

		<p>The capital city of <a href="https://en.wikipedia.org/wiki/Malta" target="_blank" rel="external">Malta</a> is the top destination this summer. It’s home to a cutting-edge contemporary architecture, baroque masterpieces, delicious local cuisine and at least 8 months of sun. It’s also a top destination for filmmakers, so you can take a tour through locations familiar to you from Game of Thrones, Gladiator, Troy and many more.</p>
	</div>

	<div class="demo-row">
		<div class="demo-row__half">
			<div id="footer-left">
				<h3>The three greatest things you learn from traveling</h3>
				<p><a href="#">Find out more</a></p>
			</div>
		</div>

		<div class="demo-row__half">
			<div id="footer-right">
				<h3>Walking the capitals of Europe: Warsaw</h3>
				<p><a href="#">Find out more</a></p>
			</div>
		</div>
	</div>
</div>
-->





<!--
<ckeditor [editor]="Editor" [(ngModel)]="editorData1" (ready)="onReady($event)"></ckeditor>
<ckeditor [editor]="Editor" [(ngModel)]="editorData2"></ckeditor>

<ckeditor [disabled]="isDisabled"  [editor]="Editor" [(ngModel)]="editorData" (ready)="onReady($event)" (change)="onChange($event)" (blur)="onBlur($event)" (focus)="onFocus($event)"></ckeditor>
<button (click)="toggleDisabled()">
    {{ isDisabled ? 'Enable editor' : 'Disable editor' }}
</button>
-->


    <!--
    <ckeditor class="editor-interface" [editor]="Editor" [(ngModel)]="mockTexts[0].text" *ngIf="false"></ckeditor>
    <ckeditor class="editor-interface" [editor]="Editor" [(ngModel)]="mockTexts[0].text" *ngIf="true" [config]="{toolbar: false}"></ckeditor>
    <div class="editor-commands d-flex justify-content-end">
        <div class="editor-handle" cdkDragHandle><mat-icon>control_camera</mat-icon></div>
        <div class="editor-delete"><mat-icon>delete_forever</mat-icon></div>
    </div>
    <br>

    <ckeditor [editor]="Editor" [(ngModel)]="mockTexts[0].text" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }" style="background-color: black;"></ckeditor>

    <br>

    <ckeditor [editor]="Editor" [(ngModel)]="mockTexts[0].text" [disabled]="true" [config]="{toolbar: false}"></ckeditor>

    <ckeditor [editor]="Editor" [(ngModel)]="mockTexts[0].text" [disabled]="true" [config]="{toolbar: false}" *ngIf></ckeditor>

    <div #draggable>
        <div id="in">On Mouse Over</div>
        <div id="out">On Mouse Over</div>
    </div>

   

    <br>

    <div
        class="example-list"
        cdkDropList
        [cdkDropListData]="mockTexts"
        (cdkDropListDropped)="drop($event)">px
        
        <div class="example-box" *ngFor="let text of mockTexts" cdkDrag>
            <textarea autosize class="autosize" [(ngModel)]="text.text"></textarea>
        </div>
    </div>

    <br>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Cras justo odio
          <span class="badge badge-primary badge-pill">views 14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Dapibus ac facilisis in
          <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Morbi leo risus
          <span class="badge badge-primary badge-pill">1</span>
        </li>
      </ul>

    <textarea class="form-control text-area bg-primary border-secondary color-primary" 
    id="exampleTextarea" rows="25" style="margin-top: 0px; margin-bottom: 0px;" 
    (ngModelChange)="update()"
    > 
    <b>asd</b>
    <p *ngFor="let text of cs.editorText">{{text.text}}</p>

    <b>asd</b>



    </textarea>

    <button type="button" class="btn btn-success" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger" (click)="viewSubject(subject)">Cancel</button>
-->
